<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--该接口提供写入操作所有的列表并提供查询所有索引的方法
-->
<mapper namespace="com.xgs.dao.ArticleDao">

    <update id="updateContentById">
        update article
        set content = #{content}
        where id = #{id}
    </update>

    <select id="selectByType" resultType="Article" parameterType="String">
        select * from article
        where type =#{type}
        ORDER BY create_time DESC
    </select>

    <select id="selectAllType" resultType="String" >
        select distinct type from article
    </select>

    <select id="getAll" resultType="com.xgs.pojo.Article">
        select * from article
    </select>

</mapper>