<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--该接口提供写入操作所有的列表并提供查询所有索引的方法
-->
<mapper namespace="com.xgs.dao.UserDao">
  <select id="getUserByID" parameterType="String" resultType="WechatUser">
    select *
    from wechat_user
    where `open_id` = #{id}
  </select>
  <insert id="insertUser" parameterType="WechatUser">
    insert into wechat_user (nickname, avatar_url, gender, country, province, city, open_id,
                             created_at, updated_at)
    values (#{nickname}, #{avatarUrl}, #{gender}, #{country}, #{province}, #{city}, #{openId},
            #{createdAt}, #{updatedAt})
  </insert>
  <insert id="collect">
    insert into user_article (user_id, article_id)
    values (#{userId}, #{articleId})
  </insert>
  <delete id="delete">
    delete
    from user_article
    where user_id = #{userId}
      and article_id = #{articleId}
  </delete>
  <select id="show" resultType="Article">
    select *
    from article
    where id = (select article_id
                from user_article
                where user_id = #{userId}
    )
  </select>
</mapper>

